@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*
COLORI:

- background: #262626
- background secondario: #ADADAD
- arancione: #FF9429
- light: #f8f9fa

CLASSI:
-bottone arancione con hover: orange-button
-mesaggi di errore: .error-prompt
-testo in grassetto non header: thick-text
-bottone carrello: chart-btn
*/

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ADADAD;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

p, footer span, footer a{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

p {
    line-height: 1.7em;
    color: #262626;
}

h2 {
    font-size: 1.25rem;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background-color: #262626;
    border: none;
    position: fixed;
    z-index: 1;
    display: inline !important;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.navbar-nav > .active > a{
    background-color: #ADADAD;
    color: #262626;
    border-style: solid;
    border-width: 1px;
    border-color: #262626;
    border-radius: 5px;
}

#messageNavDiv {
    margin-bottom: 60px;
}

#messageNav {
    background-color: #FF9429;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #262626;
    margin: 10px 0;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.navbar.no-padding {
    padding: 0px 0px;
}

/* ---------------------------------------------------
SIDEBAR STYLE
----------------------------------------------------- */

#sidebar, #menuNotifiche {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    color: #262626;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active, #menuNotifiche.active {
    left: 0;
}

#dismiss, #dismiss-not {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #FF9429;
    border-radius: 12%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover, #dismiss-not:hover {
    background: #fff;
    color: #262626;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header, #menuNotifiche .sidebar-header {
    padding: 20px;
    background: #262626;
}

#sidebar ul.components, #menuNotifiche ul.components{
    padding: 20px 0;
    border-bottom: 1px solid #FF9429;
}

#sidebar ul p, #menuNotifiche ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a, #menuNotifiche ul li a {
    padding: 10px;
    display: block;
}

#sidebar ul li a:hover, #menuNotifiche ul li a:hover {
    color: #f8f9fa;
    background: #262626;
}

#sidebar ul li.s>a, #menuNotifiche ul li.s>a,
a[aria-expanded="true"] {
    color: #f8f9fa;
    background: #262626;
}

a[data-toggle="collapse"] {
    position: relative;
}

ul ul a {
    font-size: 0.8em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.orangeBtn,
a.orangeBtn:hover {
    background: #FF9429 !important;
    color: #262626 !important;
}

li.sideButton{
    text-align: center;
    font-weight: 600;
    
}


/* ---------------------------------------------------
CONTENT STYLE
----------------------------------------------------- */

main {
    padding-top: 120px;
    margin-left: 10px;
    margin-right: 10px;
    min-height: 85vh;
    transition: all 0.3s;
    top: 0;
    right: 0;
    z-index: 0;
}



#content {
    position: absolute;
}


/*--------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

.caption {
    font-size: 10px;
}

.alignLeft {
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.alignRight {
    text-align: right;
}

.weightText {
    font-weight: 700;
}

.thick-text{
    font-weight: 700;
    font-size: medium;
}

.info{
    background-color: #f8f9fa;
}


/* ---------------------------------------------------
FOOTER 
----------------------------------------------------- */


footer {
    background-color: #262626;
    text-align: center;
    padding: 20px 0;
    min-height: 15vh;
}

footer span {
    color: #f8f9fa;
}

footer a, footer a:hover{
    color: #FF9429;
}

/*.roundedBorder {
    border: 2px solid black;
    border-radius: 16px;
}*/

/*--------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
----------------------------------Login from style--------------------------------------------------
---------------------------------------------------------------------------------------------*/

.form-signin{
    margin-top: 30px;
}

.orange-button {
    background: #FF9429;
    color: #262626;
    border: none;
}

.form-signin .orange-button{
    font-weight: bold;
}

.signup-text-area p:nth-child(2){
    color: #262626;
}

.signup-text-area p:nth-child(2){
    color: #000;
    font-weight: 600;
}

.signup-text-area p:nth-child(2) a:hover{
    text-decoration: underline;
    color: rgb(247, 134, 20);
}



/*--------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------*/

.orange-button:hover {
    background: rgb(247, 134, 20);
    color: rgb(36, 34, 34);
}   


/*--------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
-----------------------------Register form stryle-------------------------------------------------------
---------------------------------------------------------------------------------------------*/

/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
*/

.my-form/*,.login-form*/
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.error-prompt{
    color: red;
}

.formButton 
{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #262626;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #262626;
    border-radius: .25rem;
    transition: border-color .15s
}





/*--------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
-----------------------------Chart stryle-------------------------------------------------------
---------------------------------------------------------------------------------------------*/



.chart-btn {
    background-color:transparent
    
}




#notificationNumber{
    position: relative;
    left: 20px;
    top:-20px;
    border-radius: 50%;
}

#chartNumber{
    position: relative;
    right: 50px;
    top:-20px;
    border-radius: 50%;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}


/*---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------
-----------------------------------MEDIA-------------------------------------------------------
---------------------------------------------------------------------------------------------*/

@keyframes notificationBlink {
    0%{     color: red;    }
    49%{    color: transparent; }
    50%{    color: transparent; }
    99%{    color:red;  }
    100%{   color: red;    }
}



@media screen and (max-width: 260px) {
    
    main {
        padding-top: 90.4px; 
    }

    main img {
        min-width: 30px;
    }
    
    p, .footerText {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 400;
    }
    
    .btn {
        padding: 0rem 0rem !important;
    }
    
    .navbar input {
        padding: 0rem 0rem !important;
    }
    
    .caption {
        font-size: 7px
    }
    
    #logo {
        max-width: 50px !important;
    } 
    
    #dropdownMenuButton{
        font-size:7px;
    }

    h1, h2, .weightText {
        font-size:10px !important;
    }
}

@media screen and (min-width: 261px) and (max-width: 345px){
    
    main {
        padding-top: 90.4px; 
    }
    
    main img {
        min-width: 50px;
    }
    
    p, .footerText {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        font-weight: 400;
    }
    
    .btn {
        padding: 0rem 0.25rem !important;
    }
    
    .navbar input {
        padding: 0rem 0.25rem !important;
    }
    
    .caption {
        font-size: 8px
    }
    
    #logo {
        max-width: 81px !important;
    } 
    
    #dropdownMenuButton{
        font-size:10px;
    }
}

@media screen and (min-width: 346px) and (max-width: 509px) {
    #logo {
        min-width: 110px !important;
        max-width: 110px !important;
    } 
    main {
        padding-top: 114px;
    }
}

@media screen and (min-width: 510px) and (max-width: 767px) {
    .img-miniatura {
        max-width: 90px !important;
    }
    
    .navbar img {                         
        max-height: 51px !important;
        max-width: 184px !important;
    }
    
    #logo {
        min-width: 140px !important;
        max-width: 150px !important;
    } 
    
    main {
        padding-top: 116px;
    }
}

@media screen and (min-width: 768px) {
    
    .centrato {
        text-align: center;
    }
    
    .distanzaTop{
        margin-top: 3px;
    }
    
    .img-miniatura {
        max-width: 100px !important;
    }
    
    .img-evento{
        min-width: 302.4px !important;
        max-width: 302.4px !important;
    }
    
    #logo {
        min-width: 140px !important;
        max-width: 150px !important;
    } 
    
    main {
        padding-top: 90px;
    }
    
    #messageNav {
        margin-top: -20.5px;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    #messageNavDiv {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 992px) {
    
    .img-evento{
        min-width: 302.4px !important;
        max-width: 302.4px !important;
        min-height: 302.4px !important;
        max-height: 302.4px !important;
    }
    
    #logo {
        min-width: 140px !important;
        max-width: 150px !important;
    }
    
    main {
        margin-left: 10%;
        margin-right: 10%;
        min-height: 85vh;
    }   
    
    .marginBrowser {
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media screen and (max-width: 1000px) {
    #chartNumber {
        display: none;
    }
    #notificationNumber{
        display: none;
    }
    button.notified{
        animation: notificationBlink 3s infinite;
    }
}


